/*basic*/
* {margin: 0; padding: 0;}
body {overflow-x: hidden;}
@-ms-viewport {width: device-width;}
.section {width: 100%;}
.section:after {content:''; display: block; clear: both;}
/*header*/
.menu {background-color: rgba(0,0,0,0.9); width: 100%; position: fixed;}
.menu ul {text-align: right; width: 90%; margin: 8pt auto;}
.menu ul:after {content: ''; display: block; clear: both;}
.menu li {display: inline-block; margin: 0 1rem; list-style-type: none; color: white; font-size: 12pt; vertical-align: middle;}
.menu li:first-child {float: left; font-size: 18pt; font-weight: bold;}
.menu li:nth-child(n+2) {transition-property: color; transition-duration: 0.3s; transition-timing-function: ease-out; transition-delay: 10ms;}
.menu li:nth-child(n+2):hover {color: #ff6666; transition: color 0.5s ease-out 20ms; text-shadow: 0 0 1pt #ff6666;}
.menu li:hover, #bars:hover, .menu i:hover, #menu-bars li {cursor: pointer;}
.menu i, #menu-bars li {display: none;}


@media screen and (max-width:1280px) {
}
@media screen and (max-width:736px) {
  .menu li {margin: 0 0.2rem;}
  .menu li:nth-child(n+2) {display: none;}
  .menu i {color: white; display: inline-block; float: right;}
  #menu-open {height: 100vh; position: fixed; width: 100%; display: none;}
  #menu-bars {height: 100%; background-color: black; width: 30%; float: left; margin-left: -100%; z-index: 1;}
  #menu-bars li {float: left; display: block; margin: 1rem 2rem; color: white; font-size: 18pt; list-style-type: none;}
  #menu-bars li:first-child {margin-top: 20pt;}
  #non-menu-bars {width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);}
}
@media screen and (max-width:480px) {
  .menu {background-color: rgba(0,0,0);}
  .menu li:first-child {display: block;}
  #menu-bars {width: 55%;}
}
/*home*/
#home {width: 100%; height: 100vh; background-image: url('../../images/home.jpg'); background-repeat: no-repeat;
background-position: center; background-size: cover; text-align: center; background-attachment: fixed;}
#home h1 {color: white; font-size: 40pt; padding-top: 44vh; letter-spacing: 0.1rem;}
@media screen and (max-width:1280px) {
  #home h1 {font-size: 32pt;}
}
@media screen and (max-width:736px) {
  #home h1 {font-size: 26pt;}
}
@media screen and (max-width:480px) {
  #home h1 {font-size: 20pt;}
}
/*about and dream*/
#about p, #dream p {font-weight: 600; color: #444444;}
#about>div, #dream>div {width: 80%; margin: 16vh 10%;}
#about div div, #dream div div {display: inline-block; vertical-align: middle;}
#about #first div:first-child {width: 20%; border: 1px solid black; text-align: center; padding: 3.5rem 0;}
#about #first div:nth-child(2) {width: 70%; margin-left: 5%; line-height: 18pt;}
#about #first div:nth-child(2) h1, #dream #second div:nth-child(1) h1 {margin-bottom: 0.5rem;}
#dream #second div:first-child {width: 70%; margin-right: 5%; line-height: 18pt;}
#dream #second div:nth-child(2) {width: 20%; border: 1px solid black; text-align: center; padding: 3.5rem 0;}
@media screen and (max-width:1280px) {
  #dream #second div:nth-child(1) {width:100%;}
  #dream #second div:nth-child(2) {display: none;}
}
@media screen and (max-width:736px) {
  #about #first div:first-child {display: none;}
  #about #first div:nth-child(2) {width:100%;}
  #about>div, #dream>div {width: 90%; margin: 16vh 5%;}
  #about p, #dream p {font-size: 10pt;}
}
@media screen and (max-width:480px) {
}
/*project*/
#project {width: 100%;  background-color: #cccccc; padding-bottom: 0.5vh;}
#project:after {content:''; display: block; clear: both;}
#project .inner {width: 68%; margin: 10vh 16%; border: 1px solid black; height: 20rem; background-color: white;
box-shadow: 2px 2px 2px 2px gray;}
.inner div {display: inline-block;}
#project>h1 {text-align: center; padding-top: 6vh;}
#img1, #img2 {background-image: url('../../images/jbproject.png'); border: 1px solid black; width: 64%;
height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; text-align: center;}
#img2 {background-image: url('../../images/fantasia.png');}
.des {width: 30%; height: 100%; vertical-align: top; padding: 0.5rem;}
.des h1 {margin-bottom: 0.2rem;}
.des p {font-weight: 600; color: #444444; line-height: 20pt;}
@media screen and (max-width:1280px) {
  #project p {font-size: 10pt; line-height: 18pt;}
}
@media screen and (max-width:736px) {
  #project #img1, #project #img2 {width: 100%;}
  #project .des {display: none;}
}
@media screen and (max-width:480px) {
  .inner {height: 8vh;}
}
/*contact*/
#contact {text-align: center; background-color: black; color: white; padding: 10vh;}
@media screen and (max-width:1280px) {
}
@media screen and (max-width:736px) {
}
@media screen and (max-width:480px) {
}
